body {
    -webkit-font-smoothing: antialiased;

}


/***************************TAG Selectors****************/

h1 {
    display: inline-block;
}

h2 {
    font-family: Roboto, sans-serif;
    font-size: 12px;
}

.heading-main {
    text-decoration: none;
}

.master-div {
    width: 100%;

}

/***************************SECTION Selectors****************/

#sidebar-left {

    float: left;
    width: 10%;
    background-color: red;
    height: 100vh;

}

#sidebar-right {
    float: right;
    width: 10%;
    background-color: red;


}



/***************************CLASS Selectors****************/

/***************************Capsule****************/


.carousel {
    margin-left: 3px;
    margin-right: 3px;
    width: 100%;
    margin: auto;

}

.mastercarousel {

    border-style: groove;
    border-width: 0px;
    border-color: lightgray;
    border-radius: 2px;
    -webkit-border-radius: 10px;
    padding-bottom: 5px;
    max-width: 95%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-left: 2px solid rgb(247, 183, 110);

}


.loader-custom {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

/***************************Twitter and Koo****************/

.twitter-koo-box {

    padding: 2px 5px;
    border-radius: 1px;
    -webkit-border-radius: 10px;
    cursor: pointer;
    border-style: groove;
    border-width: 0px;
    margin-top: 3px;
    height: 250px;
    position: relative;
}

.twitter-box {
    border-color: #ebf1f5;
    background-color: #ebf1f5;
}

.twitter-box:hover {
    background-color: #d6e2ea;
}

.koo-box {
    border-color: #f7f7e7;
    background-color: #f7f7e7;
}

.koo-box:hover {
    background-color: #f4f0d8;
}

.insta-box {
    border-color: #ebf1f5;
    background-color: #ebf1f5;
}

.insta-box:hover {
    background-color: #d6e2ea;
}

.twitter-koo-biosection {
    display: flex;
}

.twitter-koo-biopic {
    width: 25%;
}

.twitter-koo-biopic-with-image {
    width: 20%;
}

.twitter-koo-img-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.twitter-koo-biotext {
    width: 50%;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    display: block;

}

.twitter-koo-logo-div {
    width: 25%;
    text-align: right;
}

.twitter-koo-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: auto;
    display: block;
}

.filler-div {
    width: 25%;
}

.filler-div-tweet {
    width: 15%;
}



.twitter-logo-with-media {
    margin-left: 10px;
}


.twitter-koo-text {
    font-size: 16px;
    line-height: 25px;
    font-family: Roboto, sans-serif;

}

.twitter-koo-image-div {
    width: 100%;
    position: absolute;
    bottom: 5px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.tweet-koo-inline-image {
    height: 120px;
    width: 95%;
    object-fit: fit;
    margin: auto;
    display: block;
    border-radius: 1px;
    -webkit-border-radius: 10px;
    object-fit: cover;
}

.tweet-koo-inline-all-image {
    height: 175px;
    width: 95%;
    object-fit: fit;
    margin: auto;
    display: block;
    border-radius: 1px;
    -webkit-border-radius: 10px;
}

.insta-all-image {
    height: 245px;
    width: 100%;
    object-fit: fit;
    display: block;
    border-radius: 1px;
    -webkit-border-radius: 10px;
}



/***************************Headline and Inline****************/
.headline-box {
    border-radius: 1px;
    -webkit-border-radius: 10px;
    margin-top: 10px;

    /* background: #DCDCDC; */

    cursor: pointer;
    width: auto;
    /* border-left: 2px solid rgb(247, 183, 110); */





}

.headline-text {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    text-align: left;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-left: 10px;


}


.summary-text {

    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    line-height: 150%;
    font-size: 16px;
    line-height: normal;

}

.summary-list_items {
    list-style-type: '-  ';
    padding: 2px;
    margin-bottom: 10px;
}



.site-logo-headline {
    flex: 3;
    align-self: left;
    margin-left: 8px;
    margin-top: 0px;

}



.site-logo-section {
    width: 100%;
    background-color: #5091c3;
    border-radius: 1px;
    -webkit-border-radius: 10px;
}

.site-logo {
    width: 112px;

    object-fit: contain;



}



/* .headline-center-mark {
    text-align: center;
    font-size: 16px;
    padding: 5px;
    background: #929191;
    background-color: white;
    border-radius: 1px;
    -webkit-border-radius: 10px;

} */

.section-text {
    font-family: 'titan one', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: rgb(247, 183, 110);
    margin-left: 15px;
    margin-bottom: 4px;

    align-items: center;
    justify-content: center;

}

.headlineNewslogoContainer {
    flex: 1;



}

.headline-image {
    width: 112px;
    height: 80px;

    float: right;
    border-radius: 1px;
    -webkit-border-radius: 10px;
    object-fit: fill;
}

.news-inline-box {
    flex: 1;
    padding: 2px 5px;
    border-radius: 1px;
    -webkit-border-radius: 10px;
    cursor: pointer;
    border-style: groove;
    border-color: #eeeff3;
    background-color: #eeeff3;
    border-width: 0px;
    margin-top: 3px;
    height: 250px;
    position: relative;

}

.news-inline-box:hover {
    background-color: #e0e3ef;
}


.news-box:hover {
    background-color: #FAF9F6;
}

.news-inline-image {


    width: 100%;
    height: 125px;
    margin: auto;
    display: block;
    border-radius: 1px;
    -webkit-border-radius: 10px;
}

.news-inline-sitelogo {
    max-width: 120px;
    height: 40px;
    object-fit: contain;

}

.news-inline-text {
    font-size: 16px;
    line-height: 25px;
    font-family: Roboto, sans-serif;
    display: inline;
}

.instaImage {
    height: 120px;
}

.youtube-box {
    flex: 1;
    padding: 2px 5px;
    border-radius: 1px;
    -webkit-border-radius: 10px;
    cursor: pointer;
    border-style: groove;
    border-color: #eeeff3;
    background-color: #000000;
    border-width: 0px;
    margin-top: 3px;
    height: 250px;
    position: relative;
}



.youtube-image {
    border-radius: 1px;
    -webkit-border-radius: 10px;
    border-style: groove;
    border-width: 0px;


}

.youtube-play {
    border-radius: 1px;
    position: absolute;
    top: 100px;
    left: 90px;
}

a:active,
a:focus {
    outline: 0;
    border: none;
    -moz-outline-style: none;
}





/***************************Slider****************/


.arrowRight {
    width: 30px;
    position: relative;
    /* Declared position allows for location changes */
    top: -35px;
    /* Moves the image 2px closer to the top of the page */
    right: 5px;
    background: white;


}

.arrowRight:hover {
    transform: scale(1.1);
}

.arrowLeft {
    width: 30px;
    position: relative;
    /* Declared position allows for location changes */
    top: -35px;
    /* Moves the image 2px closer to the top of the page */
    right: 5px;
    background: white;
}

.arrowLeft:hover {
    transform: scale(1.1);
}

.slick-slide {
    margin: 0px 4px;

}



.margin-filler {
    height: 10px;



    margin-top: 5px;
    margin-bottom: 5px;



}




/***************************Mobile****************/

/* Hide slider left and right images on small devices */
@media (max-width: 767px) {
    .hidden-mobile {
        display: none;
    }
}

/***************************Header****************/

.navbar-header {
    background-color: #F16E10;
}

.padding {
    padding: 0px;
}

/***************************About and Contact****************/

.about-container {
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    justify-content: center;
}


.about {
    border-style: groove;
    border-width: 2px;
    border-color: lightgray;
    border-radius: 2px;
    -webkit-border-radius: 10px;
    padding-bottom: 25px;
    padding-top: 15px;



}

.contactus {

    text-align: center;


}

.route-heading {
    font-family: Roboto, sans-serif;
    font-size: 25px;
}

.contactus-text {
    font-family: Roboto, sans-serif;
    font-size: 15px;
    color: grey;
}


/***************************Footer****************/

.footer {
    margin: auto;
    text-align: center;
    height: 50px;
    background-color: white;
    color: black;

}

.navbar {
    padding-bottom: 0px !important;
}


.hamaralogo {
    padding-top: 0px;
    width: 250px;
}


.endslide {
    cursor: pointer;
    border-radius: 1px;
    -webkit-border-radius: 10px;
    border-style: groove;
    border-width: 2px;
    height: 250px;
    background-color: #fafafa;
    border-color: #f5e5c4;
}

.vericaltext {
    writing-mode: vertical-lr;
    text-orientation: upright;
}

.read-again-text {
    font-family: 'Roboto:ital';
    font-weight: normal;
    font-size: 1.0rem;
    margin: auto;
    text-align: center;

    line-height: 100px;

}

.vertical-filler {
    height: 30%;
    margin-bottom: 35px;
}

.read-again-image {
    width: 50px;
    margin: auto;
}